---
const platform = "github";
const username = "BENwada";

import Social from "./Social.astro";
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <p>
    <Social platform="twitter" username="kanntakuyuto" />
    <Social platform="github" username="BENwada" />
    <Social platform="youtube" username="astrodotbuild" />
  </p>
</footer>
